.card {
  margin-top: 20px;
}

.subtitle {
  padding-top: 10px;

  figure {
    display: inline-block;
  }

  span {
    margin-left: 18px;
    vertical-align: top;
    height: 48px;
    line-height: 48px;
  }
}

.icon-text {
  margin-bottom: 5px;
  display: block;
}