<div class="card">
  <div class="card-content">
    <!-- Course name and professor -->
    <p class="title">
      {{ subject.subjectCod + '-' + subject.subjectName }}
    </p>
    <p class="subtitle">
      <figure class="image is-48x48" *ngIf=subject.professorImgUrl>
        <img class="is-rounded" [src]="sanitizeImageUrl(subject.professorImgUrl)">
      </figure> 
      <span>{{ (subject.professorName && subject.professorName !== 'NULL') ? subject.professorName : 'Sem professor' }}</span>
    </p>

    <!-- Ratings -->
    <span class="icon-text">
      <span class="icon has-text-primary">
        <i class="fas fa-star"></i>
      </span>
      <span>
        <span class="has-text-weight-bold">Nota geral:</span>
        {{ subject.meanGeneral.toFixed(2) }}
      </span>
    </span>
    <span class="icon-text">
      <span class="icon has-text-danger">
        <i class="fas fa-lightbulb"></i>
      </span>
      <span>
        <span class="has-text-weight-bold">Complexidade do conteúdo:</span>
        {{ subject.meanContentComplexity.toFixed(2)  }}
      </span>
    </span>
    <span class="icon-text">
      <span class="icon has-text-warning">
        <i class="fas fa-book"></i>
      </span>
      <span>
        <span class="has-text-weight-bold">Qualidade do material:</span>
        {{ subject.meanMaterialQuality.toFixed(2)  }}
      </span>
    </span>
    <span class="icon-text">
      <span class="icon has-text-success">
        <i class="fas fa-graduation-cap"></i>
      </span>
      <span>
        <span class="has-text-weight-bold">Avaliação do docente:</span>
        {{ subject.meanProfessorEvaluation.toFixed(2)  }}
      </span>
    </span>
    <span class="icon-text">
      <span class="icon has-text-link">
        <i class="fas fa-clock"></i>
      </span>
      <span>
        <span class="has-text-weight-bold">Tempo de dedicação:</span>
        {{ subject.meanDedicationTime.toFixed(2)  }} hrs/sem
      </span>
    </span>
  </div>

  <!-- Footer -->
  <footer class="card-footer">
    <a class="card-footer-item" (click)="seeEvaluations()">
      <span class="icon-text">
        <span class="icon has-text-link">
          <i class="fas fa-stream"></i>
        </span>
        <span>Ver avaliações</span>
      </span>
    </a>
    <a class="card-footer-item" (click)="goToEvaluation()" [class.disabled]="subject.userEvaluatedSubject" >
      <span class="icon-text">
        <span class="icon has-text-link">
          <i class="fas fa-plus"></i>
        </span>
        <span>Avaliar matéria</span>
      </span>
    </a>
  </footer>
</div>
