<div class="columns">
  <div class="column is-one-fifth is-offset-two-fifths">
    Bem vindo ao Feedbook!

    <!-- Login form -->
    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left">
        <input class="input" type="email" placeholder="ex: joao@ufmg.br">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Senha</label>
      <div class="control has-icons-left">
        <input class="input" type="password" placeholder="Senha">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </div>
    </div>
    
    <div class="field">
      <p class="control">
        <button class="button is-success">
          Login
        </button>
      </p>
    </div>
  </div>
</div>