<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="columns is-vcentered">
      <section class="hero is-fullheight is-hidden-mobile">
        <div class="hero-body fill">
          <img src="../../assets/login/bg.jpg">
        </div>
      </section>

      <!-- Login Form -->
      <div class="column is-two-fifths-desktop is-three-fifths-tablet login-form" [formGroup]="loginForm">
        <h1 class="title is-1">Bem vindo ao Feedbook!</h1>

        <p class="subtitle is-5">
          <strong>
            Ainda não é cadastrado? Clique <a routerLink="../registration" routerLinkActive="active">aqui</a>
          </strong>
        </p>

        <!-- Login form -->
        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left">
            <input [ngClass]="{'has-error': (email?.dirty || email?.touched) && (email?.errors?.required || email?.errors?.pattern)}" formControlName="email" class="input" type="email" placeholder="ex: joao@ufmg.br">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Senha</label>
          <div class="control has-icons-left">
            <input [ngClass]="{'has-error': (password?.dirty || password?.touched) && password?.errors?.required}" formControlName="password" class="input" type="password" placeholder="Senha">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <p class="control">
            <!-- <button class="button is-info" routerLink="../feed" routerLinkActive="active" (click)="login()"> -->
            <button class="button is-info" (click)="login()">
              Login
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
