img {
  opacity: 0;
}

.hero-body {
  padding: 0;
}

.fill {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('/assets/login/bg.jpg');
}

.login-form {
  padding: 5%;
}

.title {
  padding-bottom: 0%;
}

.subtitle {
  margin-bottom: 35px;
}

.field {
  width: 75%;
  padding-bottom: 10px;
}

.button {
  margin-top: 10px;
}