<div class="card">
  <div class="card-content">
    <!-- Course name and professor -->
    <p class="title">
      DCC 321 - Computers
    </p>
    <p class="subtitle">
      <figure class="image is-32x32">
        <img class="is-rounded" src="assets/course-card/avatar.jpeg">
      </figure>
      <span>Arthur de Brito Bonifácio</span>
    </p>

    <!-- Ratings -->
    <span class="icon-text">
      <span class="icon has-text-primary">
        <i class="fas fa-star"></i>
      </span>
      <span>4.9</span>
    </span>
    <span class="icon-text">
      <span class="icon has-text-danger">
        <i class="fas fa-dumbbell"></i>
      </span>
      <span>2.5</span>
    </span>
    <span class="icon-text">
      <span class="icon has-text-warning">
        <i class="fas fa-book"></i>
      </span>
      <span>4.9</span>
    </span>
    <span class="icon-text">
      <span class="icon has-text-success">
        <i class="fas fa-graduation-cap"></i>
      </span>
      <span>5.0</span>
    </span>
    <span class="icon-text">
      <span class="icon has-text-link">
        <i class="fas fa-clock"></i>
      </span>
      <span>5 hrs/sem</span>
    </span>
  </div>
</div>