<body class="has-navbar-fixed-top">
  <app-fb-nav-bar [searchBox]="true" [configButton]="true"></app-fb-nav-bar>

  <!-- Content -->
  <div id="content-container">
    <!-- Sort-by selector -->
    <div class="field is-horizontal">
      <label class="field-label label">Ordenar por:</label>
      <div class="control has-icons-left">
        <div class="select">
          <select>
            <option selected>Média geral</option>
            <option>Tempo de dedicação</option>
            <option>Complexidade do conteúdo</option>
            <option>Qualidade do material</option>
            <option>Avaliação do docente</option>
          </select>
        </div>
        <div class="icon is-small is-left">
          <i class="fas fa-sort-amount-up"></i>
        </div>
      </div>
    </div>

    <!-- Course cards -->
    <div class="columns is-multiline">
      <div class="column is-half-desktop is-full-tablet"><app-course-card></app-course-card></div>
      <div class="column is-half-desktop is-full-tablet"><app-course-card></app-course-card></div>
      <div class="column is-half-desktop is-full-tablet"><app-course-card></app-course-card></div>
      <div class="column is-half-desktop is-full-tablet"><app-course-card></app-course-card></div>
      <div class="column is-half-desktop is-full-tablet"><app-course-card></app-course-card></div>
    </div>
  </div>
</body>