<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>
  </div>

  <div class="navbar-menu is-active">
    <div class="navbar-start">
      <div class="navbar-item is-expanded">
        <div class="control has-icons-left">
            <input class="input" type="text" placeholder="Busque uma matéria">
            <span class="icon is-small is-left">
              <i class="fas fa-search"></i>
            </span>
          </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <img class="user-img" src="/assets/feed/user.png" width="28" height="28">
          Albert Einstein
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            Configurações
          </a>
          <a class="navbar-item">
            Sair
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>