<body class="has-navbar-fixed-top">
  <!-- Navbar -->
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <h1 class="title is-3">Feedbook</h1>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" (click)="toggleMenu()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" [ngClass]="{'is-active': menuVisible}">
      <div class="navbar-start">
        <div id="search-box-container" class="navbar-item is-expanded">
          <div class="control has-icons-left">
              <input id="search-box" class="input" type="text" placeholder="Busque uma matéria">
              <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
              </span>
            </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <i class="fas fa-user"></i>
            </span>
            <span>Alan Turing</span>
          </span>
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-light">
              <strong>Configurações</strong>
            </a>
            <a class="button is-danger">
              Sair
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Content -->
  <div id="content-container">
    <!-- Sort-by selector -->
    <div class="field is-horizontal">
      <label class="field-label label">Ordenar por:</label>
      <div class="control has-icons-left">
        <div class="select">
          <select>
            <option selected>Média geral</option>
            <option>Tempo de dedicação</option>
            <option>Qualidade do material</option>
            <option>Avaliação do docente</option>
            <option>Complexidade do conteúdo</option>
          </select>
        </div>
        <div class="icon is-small is-left">
          <i class="fas fa-sort-amount-up"></i>
        </div>
      </div>
    </div>

    <!-- Course cards -->
    <div class="columns is-multiline">
      <div class="column is-half"><app-course-card></app-course-card></div>
      <div class="column is-half"><app-course-card></app-course-card></div>
      <div class="column is-half"><app-course-card></app-course-card></div>
      <div class="column is-half"><app-course-card></app-course-card></div>
      <div class="column is-half"><app-course-card></app-course-card></div>
    </div>
  </div>
</body>