.vote {
  display: block;
  text-align: center;
}

.vote-button:hover {
  cursor: pointer;
}

.up:active {
  color: hsl(207, 61%, 53%);
}

.down:active {
  color: hsl(348, 86%, 61%);
}

.level-item {
  cursor: default;
  color: hsl(0, 0%, 4%);
}

.selected {
  color: hsl(207, 61%, 53%) !important;
}
