<div class="modal" [ngClass]="{'is-active': visible}">
  <div class="modal-background" (click)="close()"></div>
  <div class="modal-content">
    <div class="box">
      
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Alan Turing</strong>
              <br>
              Adorei essa matéria, o professor é muito charmoso e carismático!
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item">
                <span class="icon-text">
                  <span class="icon has-text-primary">
                    <i class="fas fa-star"></i>
                  </span>
                  <span>4.9</span>
                </span>
              </a>
              <a class="level-item">
                <span class="icon-text">
                  <span class="icon has-text-danger">
                    <i class="fas fa-dumbbell"></i>
                  </span>
                  <span>2.5</span>
                </span>
              </a>
              <a class="level-item">
                <span class="icon-text">
                  <span class="icon has-text-warning">
                    <i class="fas fa-book"></i>
                  </span>
                  <span>4.9</span>
                </span>
              </a>
              <a class="level-item">
                <span class="icon-text">
                  <span class="icon has-text-success">
                    <i class="fas fa-graduation-cap"></i>
                  </span>
                  <span>5.0</span>
                </span>
              </a>
              <a class="level-item">
                <span class="icon-text">
                  <span class="icon has-text-link">
                    <i class="fas fa-clock"></i>
                  </span>
                  <span>5 hrs/sem</span>
                </span>
              </a>
            </div>
          </nav>
        </div>
      </article>

      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Albert Einstein</strong>
              <br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item">
                <span class="icon-text">
                  <span class="icon has-text-primary">
                    <i class="fas fa-star"></i>
                  </span>
                  <span>4.9</span>
                </span>
              </a>
              <a class="level-item">
                <span class="icon-text">
                  <span class="icon has-text-danger">
                    <i class="fas fa-dumbbell"></i>
                  </span>
                  <span>2.5</span>
                </span>
              </a>
              <a class="level-item">
                <span class="icon-text">
                  <span class="icon has-text-warning">
                    <i class="fas fa-book"></i>
                  </span>
                  <span>4.9</span>
                </span>
              </a>
              <a class="level-item">
                <span class="icon-text">
                  <span class="icon has-text-success">
                    <i class="fas fa-graduation-cap"></i>
                  </span>
                  <span>5.0</span>
                </span>
              </a>
              <a class="level-item">
                <span class="icon-text">
                  <span class="icon has-text-link">
                    <i class="fas fa-clock"></i>
                  </span>
                  <span>5 hrs/sem</span>
                </span>
              </a>
            </div>
          </nav>
        </div>
      </article>

      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Isaac Newton</strong>
              <br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item">
                <span class="icon-text">
                  <span class="icon has-text-primary">
                    <i class="fas fa-star"></i>
                  </span>
                  <span>4.9</span>
                </span>
              </a>
              <a class="level-item">
                <span class="icon-text">
                  <span class="icon has-text-danger">
                    <i class="fas fa-dumbbell"></i>
                  </span>
                  <span>2.5</span>
                </span>
              </a>
              <a class="level-item">
                <span class="icon-text">
                  <span class="icon has-text-warning">
                    <i class="fas fa-book"></i>
                  </span>
                  <span>4.9</span>
                </span>
              </a>
              <a class="level-item">
                <span class="icon-text">
                  <span class="icon has-text-success">
                    <i class="fas fa-graduation-cap"></i>
                  </span>
                  <span>5.0</span>
                </span>
              </a>
              <a class="level-item">
                <span class="icon-text">
                  <span class="icon has-text-link">
                    <i class="fas fa-clock"></i>
                  </span>
                  <span>5 hrs/sem</span>
                </span>
              </a>
            </div>
          </nav>
        </div>
      </article>





    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="close()"></button>
</div>