<div class="modal" [ngClass]="{'is-active': visible}">
  <div class="modal-background" (click)="close()"></div>
  <div class="modal-content">
    <div class="box">

      <article class="media" *ngFor="let item of (evaluations$ | async)">
        <!-- Upvote button -->
        <figure class="media-left">
          <span class="icon vote vote-button up is-medium" [ngClass]="{'selected': item.evaluation_upvoted}" (click)="upVote(item)">
            <i class="fas fa-arrow-circle-up fa-lg"></i>
          </span>
          <span class="icon vote is-medium">
            <p class="has-text-weight-medium">{{ item.evaluation_upvote_count - item.evaluation_downvote_count }}</p>
          </span>
          <span class="icon vote vote-button down is-medium" [ngClass]="{'selected': item.evaluation_downvoted}" (click)="downVote(item)">
            <i class="fas fa-arrow-circle-down fa-lg"></i>
          </span>
        </figure>
        <!-- Content -->
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ item.evaluation_owner }}</strong>
              <br>
              {{ item.evaluation_desc }}
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item">
                <span class="icon-text">
                  <span class="icon has-text-primary">
                    <i class="fas fa-star"></i>
                  </span>
                  <span>{{ item.general_evaluation }}</span>
                </span>
              </a>
              <a class="level-item">
                <span class="icon-text">
                  <span class="icon has-text-danger">
                    <i class="fas fa-lightbulb"></i>
                  </span>
                  <span>{{ item.evaluation_content_complexity }}</span>
                </span>
              </a>
              <a class="level-item">
                <span class="icon-text">
                  <span class="icon has-text-warning">
                    <i class="fas fa-book"></i>
                  </span>
                  <span>{{ item.evaluation_material_quality }}</span>
                </span>
              </a>
              <a class="level-item">
                <span class="icon-text">
                  <span class="icon has-text-success">
                    <i class="fas fa-graduation-cap"></i>
                  </span>
                  <span>{{ item.evaluation_professor_evaluation }}</span>
                </span>
              </a>
              <a class="level-item">
                <span class="icon-text">
                  <span class="icon has-text-link">
                    <i class="fas fa-clock"></i>
                  </span>
                  <span>{{ item.evaluation_dedication_time }} hrs/sem</span>
                </span>
              </a>
            </div>
          </nav>
        </div>
      </article>

    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="close()"></button>
</div>
